
@{
    ViewBag.Title = "Food";
}

<head>
    <style>

        h2 {
            color: rgb(8, 22, 34);
            text-shadow: 1px 1px 5px #1c1d12, 1px 0px 8px #7f5f5f, 1px -5px 10px #0d2722, 1px -10px 15px #ff87ff;
            background-clip: content-box;
            -webkit-text-stroke-color: rgb(255, 255, 255);
            -webkit-text-stroke-width: calc(1em / 16);
            -webkit-background-clip: content-box;
            font-size: 5vmin;
            padding: calc(calc(1em / 16) / 2);
            letter-spacing: calc(1em / 12);
        }

        h4 {
            color: rgb(8, 22, 34);
            text-shadow: 1px 1px 5px #1c1d12, 1px 0px 8px #7f5f5f, 1px -5px 10px #0d2722, 1px -10px 15px #ff87ff;
            background-clip: content-box;
            -webkit-text-stroke-color: rgb(0, 0, 0);
            -webkit-text-stroke-width: calc(1em / 16);
            -webkit-background-clip: content-box;
            font-size: 2.5vmin;
            padding: calc(calc(1em / 16) / 2);
            letter-spacing: calc(1em / 12);
        }



    </style>
</head>

<h2>Lo de esta semana</h2>

<main aria-labelledby="title">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/css/C1.jpg" class="card-img-top" alt="Combo 1">
                <div class="card-body">
                    <h4 class="card-title">MEGA - 16 PIEZAS</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C2.jpg" class="card-img-top" alt="Combo 2">
                <div class="card-body">
                    <h4 class="card-title">MEGA FAMILIAR - 8 PIEZAS</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C3.jpg" class="card-img-top" alt="Combo 3">
                <div class="card-body">
                    <h4 class="card-title">MEGA ORIGINAL 6 PIEZAS</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C4.jpg" class="card-img-top" alt="Combo 4">
                <div class="card-body">
                    <h4 class="card-title">BIG BOX CLASSIC</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C5.jpg" class="card-img-top" alt="Combo 5">
                <div class="card-body">
                    <h4 class="card-title">CHICK'N SHARE 18 NUGGETS + 2 PAPAS</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C6.jpg" class="card-img-top" alt="Combo 6">
                <div class="card-body">
                    <h4 class="card-title">COMBO KENTUCKY CHICKEN SANDWICH</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C7.jpg" class="card-img-top" alt="Combo 7">
                <div class="card-body">
                    <h4 class="card-title">INCA KOLA SIN AZÚCAR 500 ML</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C8.jpg" class="card-img-top" alt="Combo 8">
                <div class="card-body">
                    <h4 class="card-title">PIE DE MANZANA</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/css/C9.jpg" class="card-img-top" alt="Combo 9">
                <div class="card-body">
                    <h4 class="card-title">TRES LECHES DE CHOCOLATE</h4>
                </div>
            </div>
        </div>
    </div>
</main>
